
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>UCBUGG Open Course Ware</title>
    <link rel="stylesheet" type="text/css" href="css/style.css?dte={{ version }}" />
    <!--[if lt IE 9]>
	<script>
	  var e = ("abbr,article,aside,audio,canvas,datalist,details," +
	  "figure,footer,header,hgroup,mark,menu,meter,nav,output," +
	  "progress,section,time,video").split(',');
	  for (var i = 0; i < e.length; i++) { document.createElement(e[i]);}
	</script>
    <![endif]-->
  </head>
  <body>
    <div id="wrapper">

      <header>
	<img src="/images/logo.png?dte={{ version }}" alt="UCBUGG" />
      </header>

      <section id="{{ section_id }}">
      {% block content %}
      {% endblock %}
      </section>

      <footer>
	<a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc/3.0/88x31.png" /></a>
      </footer>

    </div>
  </body>
</html>
